@import "./normalize.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Fraunces', serif; */
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1130px;
    margin-right: auto;
    margin-left: auto;
}

.head_top {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: #0070A0;
    color: #fff;
}

.head_top_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-right: 5px;
}

.head_top_link {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #CCE5F3;
}

.head_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 0;
}

.logo {
    margin-right: 36px;
}

.navigation {
    display: flex;
    align-items: center;
}

.link_nav {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #33383F;
    margin-right: 24px;
}

.link_nav:last-child {
    margin-right: 0;
}

.authorization {}

.link_auto {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0070A0;
    margin-right: 31px;
}

.btn_demo {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 6px 20px;
    background-color: #0070A0;
}

.btn_demo:hover {
    color: #0070A0;
    background-color: #ffffff;
    outline: 1px solid #0070A0;
}

.head_intro {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 92px;
    color: #1F1F1F;
}

.head_description {
    font-size: 0;
}

.head_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 0.2px;
    padding-top: 51px;
    width: 485px;
}

.head_subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 24px;
    margin-bottom: 29px;
    width: 351px;
}

.head_intro .btn_demo {
    font-size: 17px;
    line-height: 27px;
    padding: 8px 32px;
    margin-right: 24px;
}

.head_more {
    position: relative;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #0070A0;
}

.head_more::after {
    content: '';
    display: block;
    background: url(../images/icons/arrow.png) no-repeat;
    position: absolute;
    /*     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 1px;
    right: -20px;
    width: 11px;
    height: 18px;
}

.clients {
    padding-top: 39px;
}

.clients_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    padding-bottom: 28px;
}

.clients_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
}

.client_img {
    margin-right: 61px;
}

.benefits {
    display: flex;
    justify-content: space-between;
    color: #1F1F1F;
    margin-bottom: 120px;
}

.benefits_item {
    width: 355px;
    padding: 32px;

}

.benefits_item:nth-child(1) {
    background-color: #FAEA73;
}

.benefits_item:nth-child(2) {
    background-color: #CCEFF6;
}

.benefits_item:nth-child(3) {
    background-color: #F7CEDC;
}


.benefits_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.2px;
    margin-top: 8px;
    margin-bottom: 13px;
}

.benefits_text {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.function {
    padding-top: 79px;
    padding-bottom: 40px;
    background-color: #F7F9FA;
}

.function_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.function_items {}


.function_item {
    position: relative;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    padding-left: 60px;

}

.function_item:nth-child(1)::before {
    content: '';
    position: absolute;
    background: url(../images/icons/function_icon_01.png) center no-repeat;
    top: 14px;
    left: 12px;
    width: 32px;
    height: 32px;
}

.function_item:nth-child(2)::before {
    content: '';
    position: absolute;
    background: url(../images/icons/function_icon_02.png) center no-repeat;
    top: 14px;
    left: 12px;
    width: 32px;
    height: 32px;
}

.function_item:nth-child(3)::before {
    content: '';
    position: absolute;
    background: url(../images/icons/function_icon_03.png) center no-repeat;
    top: 14px;
    left: 12px;
    width: 32px;
    height: 32px;
}

.function_item:nth-child(4)::before {
    content: '';
    position: absolute;
    background: url(../images/icons/function_icon_04.png) center no-repeat;
    top: 14px;
    left: 12px;
    width: 32px;
    height: 32px;
}


.function_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 39px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #1F1F1F;
    width: 620px;
}

.function_subtitle {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 450px;
}


.noactive {
    color: #626A72;
}

.function_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    width: 363px;
    padding-bottom: 18px;
}

.protection_main {
    padding-top: 120px;
    padding-bottom: 120px;
}

.protection_items {
    display: flex;
}

.protection_item {
    width: 223px;
    margin-left: 32px;
}

.protection_item:first-child {
    padding-top: 58px;
    margin-left: 0;
}

.protection {
    display: flex;
    justify-content: space-between;
}


.protection_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    width: 263px;
}

.protection_subtitle {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    margin-top: 8px;
    margin-bottom: 11px;
}

.protection_text {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #1F1F1F;

}

.charts {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0070A0;
    color: #FFFFFF;
}

.chart_img {}

.charts_block {
    display: flex;
    justify-content: space-between;
}

.charts_item {
    width: 501px;
    display: flex;
    flex-direction: column;


}

.chart_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.chart_text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.chart_list {
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;

}

.charts .btn_demo {
    font-size: 17px;
    line-height: 27px;
    padding: 0;
    width: 112px;
}

.charts li {
    list-style: none;
    position: relative;
    margin-left: 26px;

}

.charts li::before {
    content: '';
    position: absolute;
    background: url(../images/icons/charts_icon.png);
    width: 18px;
    height: 11px;
    top: 5px;
    left: -26px;
}

.tasks {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #1F1F1F;
}

.tasks_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.tasks_text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    margin-top: 21px;
    margin-bottom: 65px;

}

.tasks_items {
    display: flex;
    justify-content: space-between;
}

.task_item {
    width: 235px;
}



.task_item_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.2px;
    margin-top: 7px;
    margin-bottom: 11px;
}

.task_item_text {
    line-height: 24px;
    letter-spacing: 0.2px;
}

.blog {
    background-color: #F7F9FA;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #1F1F1F;
}

.blog_title_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

.blog_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;

}

.blog_all_links {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #0070A0;
    padding: 8px 32px;
}

.blog_items {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    color: #1F1F1F;

}

.blog_item {
    width: 355px;
    background-color: #FFFFFF;
    padding: 25px 24px 27px 24px;

}

.blog_img {
    position: relative;
    top: -25px;
    left: -24px;

}


.blog_link {
    display: inline-flex;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #2C90C9;
    background-color: #E6F7FF;
    padding: 2px 12px 4px 12px;

}

.blog_item_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.2px;
}

.blog_item_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    margin-top: 12px;
    margin-bottom: 13px;

}

.blog_item_time {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}

.start {
    padding-top: 80px;
    padding-bottom: 128px;
}

.start_item {
    padding: 64px 564px 48px 64px;
    background-color: #E6F7FF;

}


.start_title {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #1F1F1F;

}

.start_text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    margin-top: 21px;
    margin-bottom: 33px;

}

.start .btn_demo {
    display: inline-block;
    padding: 8px 32px;
    margin-bottom: 20px;
}

.start_subtext {
    display: flex;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #626A72;

}

.start_subtext p {
    margin-right: 52px;
    background: url(../images/icons/start_icon.png) left no-repeat;
    padding-left: 17px;
}